<div class="comments">
  {{#each this}}
  <section class="comment ">
    <div class="user-info">
      <a href="/profile/{{user_id}}"> {{user.username}} </a> <p>{{format_date created_at}}</p>
    </div>
    <div class="text  wrap">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>