<div class="comments">
  {{#each this}}
  <section class="comment ">
    <div class="bg-brown">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text  wrap">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>