<section>
  <h2>Create New Photo</h2>

  <form id="upload-photo" class="new-photo-form">
    <div>
      <label for="photo-title">Title</label>
      <input type="text" id="photo-title" name="photo-title" />
    </div>
    <div>
      <label for="photo-url">photo</label>
      <input type="file" id="photo-url" name="photo-url" ></input>
      <div id="imgUploading"></div>
    </div>
    <button type="submit" class="btn bg-brown text-secondary">Create</button>
  </form>
</section>



{{!-- <script src="/javascript/imgur-api.js"></script> --}}