<div class="container profile mt-5">
    <div class="row mb-5">
        <div class="col-lg-3 prof-pic-cont">
            <img class="rounded-circle profile-pic" src="https://via.placeholder.com/150" alt="prof pic">
        </div>
        <div class="col-lg-8 profile-border">
            <h1 class="profile-header">{{username}}</h1>
            <h3 class="mb-4">some statistic</h3>
            <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quam accusamus. Saepe aspernatur excepturi in! Reprehenderit<span id="dots">...</span><span id="more"> repudiandae rerum dolore laboriosam quisquam voluptatibus porro atque, quae inventore tempora, facilis laborum qui! </span><a href="#" id="readmore-link">Read More</a></p>
            
        </div>
    </div>
    <div class="card-columns m-2">
        {{#each photos as |photo|}}
        <div class="card photo-card">
            <div class="embed-responsive image-container">
                <img src="{{photo.photo_url}}" alt={{photo.title}} class="card-img">
            </div>
            
            <div class="card-reveal">
                <span class="material-icons edit-icon">create</span>
                <div class="card-title">{{photo.title}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="/javascript/readMore.js"></script>