<form class="signup-form d-flex flex-column container">
  <div class="justify-content-center">
    <div class="d-flex justify-content-center w-50">
    <h3>Sign up</h3>
    </div>
  <div class="p-2">
    <div class="row">
    <label class="col-6 col-sm-3" class="col-6 col-sm-3" for="username-signup">username:</label>
    <input class="col-6 col-sm-3" class="col-6 col-sm-3" type="text" id="username-signup" />
    </div>
  </div>
  <div class="p-2">
     <div class="row">
    <label class="col-6 col-sm-3" for="email-signup">email:</label>
    <input class="col-6 col-sm-3" type="text" id="email-signup" />
  </div>
  </div>
  <div class="p-2">
    <div class="row">
    <label class="col-6 col-sm-3" for="password-signup">password:</label>
    <input class="col-6 col-sm-3" type="password" id="password-signup" />
    </div>
  </div>
  <div class="p-2 d-flex justify-content-center w-50">
    <button class="btn btn-primary" type="submit">signup</button>
  </div>
  </div>
</form>

<script src="/javascript/signup.js"></script>