<div id="singlePostSection">
  {{> photo-info photo}}

  {{#if loggedIn}}
    <button type="button" class="upvote-btn">upvote <i class="fas fa-thumbs-up"></i></button>
  {{/if}}

  <hr>
  {{> comments photo.comments}}

  {{#if loggedIn}}
  <div>
    <button type="button" id="commentBtn" class="commentToggle show"> add comment <i class="fas fa-comment-medical"></i></button>
  </div>

  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class="sendComment">send <i class="fas fa-paper-plane"></i></button>
      <button type="button" id="commentToggle" class="commentToggle show">cancel <i class="fas fa-ban"></i></button>
    </div>
  </form>
  {{/if}}

</div>

  {{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  <script src="/javascript/upvote.js"></script>
  {{/if}}