<article>
  <a class="text-secondary" href="/dashboard"> &larr; Return to dashboard</a>
  <h2>
    Edit Photo
  </h2>
  <form class="edit-user-form">
    <div>
      <input name="display-name" type="text" value="enter value" />
      </div>
       <div>
      <input name="instagram-url" type="text" value="enter value" />
      </div>
        <div>
      <input name="linkedin-url" type="text" value="enter value" />
      </div>
      <div>
      <input name="facebook-url" type="text" value="enter value" />
      </div>
      <div>
      <input name="twiter-url" type="text" value="enter value" />
      </div>
      
    <button type="submit" class="btn bg-brown text-pistachio">update info</button>
  </form>
</article>
<script>
<script src="/javascript/user-update.js"></script>
