/*Navbar Styles */
.navbar {
    border: 0;
    border-radius: 0;
    /*Adrian--Change color gradient to team decision?*/
    background: linear-gradient(to right, #ff5858, #f857a6);
}
.navbar .dropdown-menu {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


/* 
.navbar .nav li > a, .navbar .navbar-brand {
    max-height: 50px;
    width: auto;
    background: transparent !important;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}
.navbar .nav li > a:hover, .navbar .navbar-brand:hover {
    background-color: rgba(255,255,255,0.2);
    font-size: 14px;
}
.navbar .nav li > a:hover .link, .navbar .navbar-brand:hover .link {
    width: 100%;
    padding: 0 5px 0 5px;
    visibility: visible;
    font-size: 14px;
}
.navbar .link {
    width: 0;
    font-family: "Roboto", sans-serif;
    transition: 0.2s ease-in-out;
    visibility: hidden;
    font-size: 0px;
}
.navbar span {
    color: white;
}
.navbar .navbar-toggle {
    padding-right: 0;
}
.navbar .navbar-toggle .icon-bar {
    background: white;
}
.navbar .navbar-collapse {
    display: none;
}
.navbar button {
    background: transparent;
}
.navbar button[type=submit] {
    padding-right: 0;
}
.navbar button[type=submit] span {
    transition: 0.3s ease-in-out;
}
.navbar button[type=submit]:hover span {
    transform: scale(1.3) rotate(90deg);
}
.navbar form {
    padding: 0;
}
.navbar form .form-control {
    border: 0;
    border-radius: 0;
    color: black;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.2s ease-in-out;
}
.navbar form .form-control:hover {
    background: white;
}
.navbar .dropdown .fa-caret-down {
    padding-left: 3px;
    font-size: 18px;
    transition: 0.4s ease;
}
.navbar .dropdown.open {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
}
.navbar .dropdown.open .link {
    width: 100%;
    visibility: visible;
    font-size: 14px;
    padding: 0 5px 0 5px;
}
.navbar .dropdown.open .dropdown-toggle {
    font-size: 14px;
}
.navbar .dropdown.open .fa-caret-down {
    transform: rotate(180deg);
}
.navbar .dropdown .dropdown-menu {
    min-width: 0px !important;
    width: 100%;
    background: #ff5858;
    text-align: center;
    border-radius: 0;
}
.navbar .dropdown .dropdown-menu li, .navbar .dropdown .dropdown-menu a {
    color: white;
    font-size: 14px;
    line-height: 30px;
}
.navbar .dropdown .dropdown-menu li:hover, .navbar .dropdown .dropdown-menu a:hover {
    color: white;
    letter-spacing: 1px;
    background: transparent;
}
.navbar .dropdown .dropdown-menu a {
    padding: 0 15px 0 15px;
}

/*small media query for navbar*/
/*@media (max-width: 769px) {
    .navbar .link {
    padding-left: 10px;
    visibility: visible;
    width: 100%;
    font-size: 14px;
    }
    .navbar .navbar-brand .link {
    visibility: hidden;
    }

    .dropdown .dropdown-menu {
    text-align: left !important;
    }

    button[type=submit] {
    width: 50%;
    float: left;
    }

    .navbar-form {
    border: 0;
    }

    .form-group {
    padding: 0;
    margin: 0;
    }
    .form-group input {
    width: 50%;
    float: left;
    }
} */