body {
    background-color: rgb(167, 167, 167);
    transition: background-color .5s;
}
#editMode-banner {
    top: 120px;
    left: 5vw;
    position: absolute;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 3vw;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align:justify;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    letter-spacing: .3vw;
}
/* EDIT MODE PROFILE HEADER */
.prof-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.prof-pic {
    height: 200px;
    width: 200px;
    display: inline-block;
    opacity: .6;
}
#upload-prof-pic {
    color: black;
    position: absolute;
    font-size: 50px;
}
.prof-pic:hover #upload-prof-pic, #upload-prof-pic:hover {
    color: whitesmoke;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 0px 10px black, 0 0 35px grey;
}
.prof-content {
    border-bottom: solid 3px rgb(136, 136, 136);
}
#display-name-edit, #bio-edit {
    background-color: rgba(245, 245, 245, 0);
    color: whitesmoke !important;
    border: none !important;
}
#display-name-edit:hover, #bio-edit:hover {
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
#display-name-edit:focus, #bio-edit:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    background-color: rgba(245, 245, 245, 0.05);
    border-color: rgba(0, 0, 0, 0.8);
}
#display-name {
    display: none;
}
#display-name-edit {
    border: none;
    font-size: 50px !important;
    margin-bottom: 0;
    font-weight: 500;
}
.prof-stats {
    font-size: 20px;
    color: rgb(214, 214, 214);
    margin-bottom: 0.5rem !important;
    font-weight: normal;
}
.bio {
    display: none;
}
#more {
    display: none;
}
.bio-div {
    padding: 0;
}
.prof-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.prof-icons i {
    font-size: 30px;
}
.prof-icons button:focus {
    outline: none !important;
}
.prof-icons button:hover {
    color: whitesmoke;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 0px 5px black, 0 0 25px grey;
}

.photo-details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.photo-details button {
    color: whitesmoke;
    text-shadow: 0px 0px 5px black, 0 0 25px grey;
    position: absolute;
    font-size: 25px;
    top: 5px;
}
.photo-details button:hover {
    color: black;
    text-shadow: 0px 0px 5px whitesmoke, 0 0 25px grey;
}
#edit-photo {
    left: 5px;
}
#delete-photo {
    right: 5px;
}
#photo-title {
    color: whitesmoke;
    position: absolute;
    font-size: 25px;
    margin-bottom: 0;
    bottom: 0;
    text-align: center;
    font-weight: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}