
:root {
    --pistachio: #dcfad6;
    /* --cocobrown: #1d1108; */
    --pistachioshadow: #acc2a8;
  }
  * {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }

  nav .navbar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav .navbar-header .navbar-toggle {
    background: none;
    color: black;
  }

  nav .navbar-header .navbar-toggle:hover {
    color: grey;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
    
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #99b1fd;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  .bg-pistachio {
  background-color: var(--pistachio);
  }
  .bg-brown {
  background-color: var(--cocobrown);
  }
  .header {
    width: 114%;
    margin-left: -83px;
    height: 100px;
  }
  .border-coco {
    border-color: var(--cocobrown);
    border-style: solid;
    border-width: medium;
  }
  .text-coco {
    color: var(--cocobrown);
    }
  .text-pistachio{
   color: var(--pistachio)
  }
  .no-bullet {
    list-style-type: none;
  }
  .padding-custom{
    padding-left: 129px;
  }
  .wrap {
    overflow-wrap: break-word;
  }

  /* START HOMEPAGE */
  #search {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  hr {
    height: 1px;
    width: 70%;
    margin: auto;
    margin-top: 15px;
  }

  #search #searchBtn {
    margin-right: 60%;
    position: absolute;
    padding-top: 5px;
    background: none;
    font-size: 1.2em;
    color: black;
  }

  #search #searchForm {
    position: absolute;
    display: none;
  }

  #search #searchForm.visible {
    display: block;
  }

  #search #searchForm #user-search {
    height: 40px;
    width: 120%;
  }

  #search #searchForm #suggestions-wrapper {
      border-radius: 5px;
      border-style: none;
      background-color: #f8f9fa;
      margin-bottom: 5px;
      z-index: 1;
      position: relative;
  }

  #search #searchForm #suggestions-wrapper ul {
      list-style: none;
      width: 100% !important;
      padding: 0;
      font-size: 16px;
  }

  #search #searchForm #suggestions-wrapper ul li {
      padding: 5px 0 5px 10px;
  }

  #search #searchForm #suggestions-wrapper ul li:hover {
    background-color: rgb(239 239 239);
    border-radius: 5px;
    cursor: pointer;
  }

  #featured-section .card.photo-card .card-title {
    opacity: 0;
    transition: ease 1s;
    color: white;
    margin: 5%;
    position: absolute;
    bottom: 0;
    text-align: center;
  }

  #featured-section .card.photo-card:hover {
    cursor: pointer;
  }

  #featured-section .card.photo-card:hover .image-container {
    filter: contrast(0.5) blur(1px);
    transition: ease 1s;
  }
  #featured-section .card.photo-card:hover .card-title {
    opacity: 1;
  }

  #featured-section .card-reveal {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* END HOMEPAGE */